@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --accent: #fbb53d;
  --secondary: #696e766f;
  --card: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit-var);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --font-outfit: var(--font-outfit-var);
  --font-space-grotesk: var(--font-space-grotesk-var);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-gradient {
  background: linear-gradient(135deg, var(--accent), rgb(254 165 57));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility glass {
  @apply bg-[#0a0a0a]/50 bg-clip-padding backdrop-filter backdrop-blur-xl border-b border-secondary;
}

@utility glow {
  box-shadow: 0 4px 30px rgba(255, 181, 61, 0.1);
}

@utility tech-card {
  @apply transition-all duration-300 ease-in-out;
  &:hover {
    @apply -translate-y-2 shadow-[0_20px_40px_rgba(254,165,57,0.3)];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  position: relative;
}

header {
  @apply top-0 sticky z-50 glass;
}

nav {
  @apply flex justify-between items-center px-8 py-6 max-w-7xl mx-auto;
}

@layer base {
  * {
    @apply font-outfit;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl md:text-6xl lg:text-7xl;
  }

  h2 {
    @apply text-2xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-space-grotesk;
  }
}

@layer components {
  .chart-pattern {
    background-image:
      linear-gradient(rgba(254, 165, 57, 0.03) 1px, transparent 1px),
      linear-gradient(90deg, rgba(254, 165, 57, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .sparkline {
    @apply opacity-[.08] h-25 absolute bottom-0 left-0 right-0 text-accent;
  }
}
